---
const { frontmatter } = Astro.props;
import Layout from '../Layout.astro';
import './styles.css';

const lang = frontmatter.lang || 'es';
const date = new Date(frontmatter.pubDate);
const dateOptions = { 
    weekday: 'long', 
    year: 'numeric', 
    month: 'long', 
    day: 'numeric' 
}
---
<Layout lang={lang} bodyClass="blog-post">
    <article>
        <header>
            <div>
                <time>{date.toLocaleDateString(lang + '-ES', dateOptions)}</time>
            </div>
            <h1>{frontmatter.title}</h1>
            <!-- <p class="byline">Written by <span>{frontmatter.author}</span>{frontmatter.date && (<span> • <time datetime={frontmatter.date}>{frontmatter.date}</time></span>)}</p> -->
        </header>
        <div class="blog-post-main">
            <div class="reader">
                <slot />
            </div>
        </div>
    </article>
</Layout>