---
import Layout from '../Layout.astro';
import './styles.css';

const lang = Astro.props.lang || 'es';
import Date from '../../components/Date.astro';
---
<Layout lang={lang} bodyClass="blog-post">
    <article>
        <header>
            <h1>{Astro.props.pageTitle}</h1>
        </header>
        <div class="blog-post-main">
            <div class="container-m no-margin">
                <slot />
                <div class="flex direction-column">
                    <Date date={Astro.props.date} lang={lang} />
                    {Astro.props.tags && Astro.props.tags.length > 0 && (
                        <span class="blog-post-tags size-xs">
                            Etiquetes: {Astro.props.tags.map((tag: string, index: number) => (
                                <a key={tag} href={`/tags/${tag}`}>
                                    {tag}{index < Astro.props.tags.length - 1 ? ' – ' : ''}
                                </a>
                            ))}
                        </span>
                    )}
                </div>
            </div>
        </div>
        <div class="padding-l flex justify-end">
            <a href="/blog">· Tornar a Blog</a>
        </div>
    </article>
</Layout>