---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/Layout.astro';
import BlogPost from '../../components/BlogPost/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");
    const uniqueTags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];

    return uniqueTags.map((tag: string) => {
        const filteredPosts = allPosts.filter((post: any) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts }
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={`Etiqueta: ${tag}`}>
  <p>Mostrant el contingut etiquetat amb <em>{tag}</em></p>
    <ul class="stack list-unstyled">
        {posts.map((post: any) => (
            <li key={post.url} class="blog-post-list-item">
                <BlogPost 
                    postUrl={`/posts/${post.id}`}
                    pageTitle={post.data.title} 
                    date={post.data.pubDate} 
                    preview={post.data.description} 
                    lang={post.data.lang} 
                />
            </li>
        ))}
    </ul>
    <div class="padding-l flex justify-end">
        <a href="./">· Tornar a totes les etiquetes</a>
    </div>
</BaseLayout>