---
import BlogPost from "../components/BlogPost/BlogPost.astro";
import Layout from "../layouts/Layout.astro"
const allPosts = Object.values(import.meta.glob('./posts/**/*.md', { eager: true }));

---
<Layout pageTitle="Blog">
    <ul class="stack list-unstyled">
        {allPosts.map((post: any) => {
            const { frontmatter } = post;
            return (
                <li class="blog-post-list-item">
                    <BlogPost 
                        postUrl={post.url} 
                        pageTitle={frontmatter.title} 
                        date={frontmatter.pubDate} 
                        preview={frontmatter.description} 
                        lang={frontmatter.lang} 
                    />
                </li>
            )
        })}
    </ul>
</Layout>