---
import NavigationMenu from '../components/NavigationMenu.astro';
import '@fontsource-variable/playfair-display';
import '@fontsource/inter';
import '../styles/globals.css';
import Footer from '../components/Footer.astro';
const {pageTitle, lang = 'es', bodyClass = ''} = Astro.props;
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class={`front-end ${bodyClass}`}>
		<main>
			<NavigationMenu />
			{pageTitle && <h1>{pageTitle}</h1>}
			<slot />
		</main>
		<Footer />
	</body>
</html>